.career-section {
    background: #000;
    padding: 200px 0;
    background: url(./img/about-bg.png);
    /* overflow: hidden; */
}
.container {
    max-width: 60%;
    margin: 0 auto;
}

.about-main {
    font-size: 70px;
    line-height: 77.6px;
    color: #fff;
}

h1, p{
    color: #000
}

.form-card{
    padding: 50px;
    box-shadow: 0px 10px 35px 0px #00000026;
}

.job-post-card{
    padding: 30px;
    box-shadow: 0px 10px 35px 0px #00000026;
}

.job-post-card h6{
    font-size: 16px;
}

.job-post-card p{
    font-size: 12px;
    margin-bottom: 5px;
}

.benefits-sec{
    margin-bottom: 10px;
}

.form-card input, .form-card textarea{
    padding: 10px 8px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #ddd;
}

.form-card-btn{
    background: #5B656F;
    font-size: 15px;
    padding: 5px 50px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {

    .container{
        max-width: 90%;
    }

    .main-head{
        margin-top: 30px;
    }

    .main-img{
        width: 100%;
        height: auto;
    }
}