@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

.section-head {
    font-family: Lora;
    font-size: 60px;
    font-weight: 400;
    line-height: 69.12px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    padding: 10px 0;
    color: #000
}

.section-head hr {
    width: 20%;
    margin-left: 0;
    border-bottom: 4px solid #B18941;
}

.section-para {
    font-family: Lora;
    font-size: 16px;
    text-align: left;
    color: #000;

}

nav {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

h1 {
    font-family: Lora;
    font-weight: 400;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #BBBBBB;

}

p {
    font-family: Lora;
    font-weight: 400;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #BBBBBB;
}

.nav-item a {
    color: #fff
}

.hero-section {
    background: #000;
    padding: 0;
    height: 100vh;
    /* overflow: hidden; */
}

.hero-main {
    font-size: 70px;
    line-height: 77.6px
}

.hero-para {
    font-size: 35px;
    margin-top: 20px;
}

.hero-para-second {
    padding: 10px;
    border-left: 4px solid #B18941;
    font-size: 18px;
}

/* .hero-img {
    height: 100vh;
} */

.projects-section {
    position: relative;
    height: 100vh;
    padding: 0;
}

.pos-part {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.number-item {
    padding: 10px;
    border-bottom: 1px solid #5B5B5B;
}

.number-head {
    font-size: 80px;
}

.services-section {
    background: #F0EFEF
}

.services-card {
    background: url('https://cdn.britannica.com/73/114973-050-2DC46083/Midtown-Manhattan-Empire-State-Building-New-York.jpg');
    padding: 40px 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 400px;
}

.ongoing-section {
    background: #000;
    color: #fff;
}

.og-projects-para{
    width: 50%;
}

footer{
    margin-bottom: -200px;
}

footer h5, footer p{
    color: #fff;
    margin: 0;
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {

    .navbar-nav{
        background: #000
    }

    .nav-item{
        background: #000;
        margin-left: -10px;
        padding: 5px 0;
    }

    .main-btn{
        width: 100%;
    }

    .navbar-brand {
        margin-top: 0px !important;
    }

    .nav-link-item {
        padding: 10px 0;
        margin-left: -15px
    }

    .section-head {
        font-size: 30px;
    }

    .hero-section {
        padding: 100px 0;
        overflow: hidden;
    }

    .hero-main {
        font-size: 30px;
        line-height: unset;
    }

    .hero-para {
        font-size: 18px;
        margin-top: 20px;
    }

    .hero-para-second {
        padding: 10px;
        border-left: 4px solid #B18941;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .hero-img{
        height: auto;
        width: 100%;
    }

    .projects-section {
        height: unset;
        padding: 50px 0;
    }

    .pos-mob-hide {
        display:none;
    }

    .pos-part {
        position: unset;
    }
    
    .number-head {
        font-size: 50px;
        margin-top: 20px;
    }

    .number-para{
        font-size: 14px;
    }

    .number-item{
        padding: 0px;
    }

    .services-card{
        margin-top: 20px;
    }

    .og-projects-para{
        width: 100%;
    }
}